button {
    text-transform: uppercase;
    width: 192px;
    height: 50px;
    background-color: #16a085;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-style: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}