.content {
    background-color: #f5f6f7;
    padding: 54px 30px 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #373737;
    text-transform: uppercase;
    margin: 0 0 34px;
    font-size: 18px;
    letter-spacing: 1.5px;
}

p {
    font-size: 14px;
    color: #373737;
    font-weight: bold;
    max-width: 1060px;
    line-height: 26px;
    margin: 0 0 34px;
    letter-spacing: 1.1px;
}