.container {
    max-width: 600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 82px;
}

a {
    text-decoration: none;
    color: #16a085;
    font-size: 14px;
    font-weight: 700;
}